head {
  color: black;
}
body {
  background:rgb(51, 153, 225);
  color: black;
}
h1 {
  font-size: 20px;
  border: solid 2px;
}
.testi {
  border: solid 1px;
  margin: 10px;
  padding: 5px;
}
p {
  font-size: 14px;
  color: black;
  border: 1px;
  border-radius: 20px;
}
ol {
  list-style-type: upper-alpha;
}
ul {
  list-style-type: square;
}
