head {
  background: white;
  color: black;
}
body {
  background: lightblue;
  color: black;
}
h1 {
  font-size: 20px;
  border: 1px solid black;
}
p {
  font-size: 12px;
  color: white;
  background: black;
}
ol {
  list-style-type: upper-alpha;
}
ul {
  list-style-type: square;
}
