head {
  background: black;
  color: white;
}
body {
  background: black;
  color: white;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 12px;
  color: green;
}
.class {
  border-style: dotted;
  border-width: 2px;
  height: 100px;
  width: 100px;
}
ol {
  class="d"
}
ul {
  list-style-type: square;
}
